svg.chart
.container-fluid
  .row
    .col-md-6
      p!='{{ authorObj.name[0] }}'
      ul
        li(ng-repeat="book in authorObj.books[0].book")
          p!="Title : {{book.title[0]}}"
          img(src!="{{  book.image_url[0] }}")
  .row
    form
      input#searchAuthor
      input(type='button' ng-click='search()')
  .row
    .col-md-2
      !="Search: "
      input(ng-model="query")
      select(ng-model="orderProp")
        option(value="name") Alphabetical
        option(value="age") Newest
        option(value="-age") Oldest
    .col-md-10
      ul.books
        li.thumbnail(ng-repeat="book in books | filter:query | orderBy:orderProp")
          a.thumb(href!="#/books/{{ book.id }}")
            img(ng-src!="{{book.imageUrl}}")
          a(href!="#/books/{{book.id}}")!="{{book.name}}"
          p!="{{book.snippet}}"