html(ng-app="bookApp")
  head
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    script(type='text/javascript' src='/bower_components/angular/angular.min.js')
    script(type='text/javascript' src='/bower_components/angular-route/angular-route.min.js')
    script(type='text/javascript' src='/bower_components/d3/d3.min.js')
    script(type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js')  
    script(type='text/javascript' src='../javascripts/bookApp.js')
    script(type='text/javascript' src='../javascripts/d3Examples.js')
    script(type='text/javascript' src='../javascripts/controllers.js') 
    script(type='text/javascript' src='../javascripts/filters.js')        
  body
    div(ng-view)

 
