$book-desc-height: 300px;
$mofo: blue;

#descDiv{
  max-height: $book-desc-height;
  overflow: scroll;
}

.bar {
  fill: steelblue;
}

.axis{
  .text{
      font: 10px sans-serif;
  }
  path, line{
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
  }
}




.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}